.nav__menu {
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  .nav__menu .nav__menu--toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
  }
  
  .nav__menu .nav__menu--btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 1em;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .nav__menu--btn > div {
    position: relative;
    width: 100%;
    height: 2px;
    background: rgba(242, 242, 242, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Top and Bottom Line */
  .nav__menu--btn > div::before,
  .nav__menu--btn > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -7px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves bottom line down */
  .nav__menu--btn > div::after {
    top: 7px;
  }
  
  /* Toggle Animate */
  .nav__menu .nav__menu--toggler:checked + .nav__menu--btn > div {
    transform: rotate(135deg);
  }
  
  /* Turn lines into X */
  .nav__menu .nav__menu--toggler:checked + .nav__menu--btn > div::before,
  .nav__menu .nav__menu--toggler:checked + .nav__menu--btn > div::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Show menu */
  .nav__menu .nav__menu--toggler:checked ~ .nav__menu--list {
    visibility: visible;
  }
  
  .nav__menu .nav__menu--toggler:checked ~ .nav__menu--list > div {
    transform: scale(1);
    transition-duration: 0.2s;
  }
  
  .nav__menu .nav__menu--toggler:checked ~ .nav__menu--list > div > div {
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  
  .nav__menu .nav__menu--list {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav__menu .nav__menu--list > div {
    background: black;
    width: 200vw;
    height: 200vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.2s ease;
  }
  
  .nav__menu .nav__menu--list > div > div {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.2s ease;
  }



